!!! XML
%rss{:version => "2.0", "xmlns:sparkle" => "http://www.andymatuschak.org/xml-namespaces/sparkle", "xmlns:dc" => "http://purl.org/dc/elements/1.1/"}
  %channel
    %title Photonauka Changelog
    %link http://dl.dropbox.com/u/10302128/feed.xml
    %language en
    %item
      %title Release #{release_name}
      %description
        :cdata
          #{release_notes}
      %pubDate= Time.now
      %enclosure{:url => "http://dl.dropbox.com/u/10302128/#{release_dmg}",
                 "sparkle:version" => version,
                 "sparkle:dsaSignature" => dmg_signature,
                 :length => "39039802",
                 :type => "application/octet-stream"}
