%rss{:version => "2.0", "xmlns:sparkle" => "http://www.andymatuschak.org/xml-namespaces/sparkle", "xmlns:dc" => "http://purl.org/dc/elements/1.1/"}
  %channel
    %title Photonauka Changelog
    %link http://dl.dropbox.com/u/10302128/feed.xml
    %language en
    %item
      %title Release 2011-10-15
      %description
        :cdata
          <h2>New Features</h2>
      %pubDate= Time.now
      %enclosure{:url => "http://dl.dropbox.com/u/10302128/LightingSetup-2011-10-15.dmg",
                 "sparkle:version" => "20111015",
                 "sparkle:dsaSignature" => "MCwCFFsLUHc+efQVJvq6R0DFaMK0G+RQAhQg8/0/nBaUEqW59oCw8uYAG2iaeA==",
                 :length => "39039802",
                 :type => "application/octet-stream"}
